
<div class="container-fluid" style="width:100%">
  <div class="row" style="background-color:#E5E8E8;">
      <div class="col-xs-12"> 
      <div><h1 >Algorithm Benchmarks</h1></div>
     </div>

  </div>
  <div class="row" style="padding:30px 0">
    <div class="col-xs-12 col-lg-2">
     <h4>Select a benchmark</h4>
        <% titles = { }
          Run.all.each do |run|   
            if titles[run.category]
              if titles[run.category][run.sub_category] 
                titles[run.category][run.sub_category].push run.id
              else
                titles[run.category][run.sub_category] = [run.id]
              end
            else 
              titles[run.category] = {run.sub_category => [run.id] }
            end
          end %>
          
          <div class="panel-group" id="accordion">
          <% titles.each_with_index do |(k, v), i| %>             
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                    <%= k  %></a>
                  </h4>
                </div>
                <div id="collapse<%= i %>" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <% v.each do |sub_category, ids| %>
                       <h4><%= sub_category %></h4> 
                       <ul>
                       <% ids.each do |id| %>
                        <li><%= link_to Run.find(id).title, run_path(id) %></li>
                       <% end %>    
                       </ul>                   
                    <% end %>
                  </div>
              </div> 
              </div>          
          <% end %>
          </div>
          
          <!--
         <% Run.all.each do |run|  %>
          <p><a href="<%= run_path(run) %>"><%= run.datetime %></a><br>
          Category: <%= run.category %> <br>
          Sub-category: <%= run.sub_category %><br>
              <%= link_to 'Delete', run_path(run), method: :delete, 
          data: { confirm: 'Delete?' } %>
          </p>

        <% end %> -->

    </div>
    <div class="col-xs-12 col-lg-2">   
      <h4>Filter by tags</h4>
      <% all_tags = { } 
        @run.data["algorithms"].each do |tags|
          temp = tags[1..tags.length]
          temp.each do |tag|
            all_tags[tag] = 1
          end
        end
      %>
      Parameters
      <%= local_assigns[:include_tags].inspect  %>
     <%= local_assigns[:exclude_tags].inspect%>
      <table class="table">
        <thead>
        <th></th><th>include</th><th>exclude</th>
        </thead>
        <tbody>
          <% all_tags.each do |t, v| %>
          <tr><td><%= t %></td>
          <td><input type="checkbox" value=""></td>
          <td><input type="checkbox" value=""></td></tr>
         <% end %>
        </tbody>
      </table>
      <%= link_to 'Apply filter', run_path(@run, action: 'show', include_tags:["a", "b"], exclude_tags:["c", "d"]) %>
      <!--
      <div class="list-group">
        <% all_tags.each do |t, v| %>
          <button type="button" class="list-group-item" > <%= t %></button>
        <% end %>
      </div> -->
    </div>
    <div class="col-xs-12 col-lg-8">    
      <% 
      prng = Random.new
      $r = prng.rand(0..255)
      $g = prng.rand(0..255)
      $b = prng.rand(0..255)
      $shade_part = prng.rand(0..2) 
      $shade = [100, 150, 200]
      $alpha = 0.8
      def get_rgba_string(i)
        a = [$r, $g, $b]
        a[$shade_part] = $shade[i]
        return "rgba(#{a[0]},#{a[1]}, #{a[2]}, #{$alpha})"
      end

      background = [get_rgba_string(0), get_rgba_string(1), get_rgba_string(2)]
      #sorted_result = @run.data["results"].sort_by { |k, v| v[0]} .reverse 
      algorithms = @run.data["algorithms"]
      algorithm_names = algorithms.map { |x| x[0] }

      
      data = {
        labels: algorithm_names,
        datasets: @run.data["test_cases"].each_with_index.map { |test_case, i| 
          dataValue = @run.data["results"].map {|arr| arr[i]}
          { label: test_case, backgroundColor: background[i], data: dataValue }
        }
      } 
              
      options = {  width: 800, height: [800, 50 + 50 * @run.data["algorithms"].length].min,
                  animation: { duration: 1000, easing: 'easeOutQuint' }, 
                  layout: { padding: { left: 0, right: 0, top: 0, bottom: 0} },
                  title: { text: [@run.title], font_size: 30, display: true },
                  legend: { display: true, labels: { font_size: 15 }},
                  scales: { xAxes: [{ scale_label: { display: true, label_string: @run.data["unit"] }}] },
                  maintain_aspect_ratio: true } 

      %>

      <script>Chart.defaults.global.defaultFontSize = 15;     
      Chart.defaults.global.defaultFontColor = 'black';     
      </script>
       <div>
        <%= horizontal_bar_chart data, options %>
      </div>
      <script> 
      </script>
    </div>
  </div>


  </div>