
<div class="container-fluid" style="width:100%">
  <div class="row" style="background-color:#E5E8E8;">
      <div class="col-xs-12"> 
      <a style="text-decoration:none" href="<%= runs_path %>"><h1>Algorithm Benchmarks</h1></a>
     </div>

  </div>
  <div class="row" style="padding:30px 0">
    <div class="col-xs-12 col-lg-2">
     <h4>Select a benchmark</h4>
        <% hierarchy = { }
          Run.all.each do |run|   
            if hierarchy[run.category]
              if hierarchy[run.category][run.sub_category] 
                hierarchy[run.category][run.sub_category].push run.id
              else
                hierarchy[run.category][run.sub_category] = [run.id]
              end
            else 
              hierarchy[run.category] = {run.sub_category => [run.id] }
            end


          end %>
          
          <div class="panel-group" id="accordion">
          <% hierarchy.each_with_index do |(k, v), i| %>             
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                  
                    <a ><h4 class="panel-title">
                    <%= k  %></a></h4>
                  
                </div>
                <div id="collapse<%= i %>" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <% v.each do |sub_category, ids| %>
                       <h4><%= sub_category %></h4> 
                       <ul>
                       <% ids.each do |id| %>
                        <li><%= link_to Run.find(id).title, run_path(id) %>
                        <% if request.host == admin_url %>
                          <%= link_to '(x)', run_path(id), method: :delete, data: { confirm: 'Delete? ' + id.to_s } %>
                          <% end %>
                        </li>
                       <% end %>    
                       </ul>                   
                    <% end %>
                  </div>
              </div> 
              </div>          
          <% end %>
          </div>
          
    </div>
    <div class="col-xs-12 col-lg-2">   
      <h4>Filter by tags</h4>
      <% all_tags = { } 
        @run.data["algorithms"].each do |tags|
          temp = tags[1..tags.length]
          temp.each do |tag|
            all_tags[tag] = 1
          end
        end
      %>

       <%= javascript_tag do %>  
        var algorithms = JSON.parse('<%= @run.data["algorithms"].to_json.html_safe %>'); 
        var results = JSON.parse('<%= @run.data["results"].to_json.html_safe %>');
        var testCases = JSON.parse('<%= @run.data["test_cases"].to_json.html_safe %>');
        if (getCookie('r')) {
          var colorGetter = getColorGenerator([getCookie('r'), getCookie('g'), getCookie('b'), getCookie('shadePart')]);
          setCookie('r', '', 1);
        } else {
          var colorGetter = getRandomColorGenerator();
        }
        function uncheck(id) {
          document.getElementById(id).checked = false;
        }

        function filter() {
          var include_tag_elems = Array.from(document.getElementsByClassName("include_tags"));
          include_tag_elems = include_tag_elems.filter(e => e.checked)
          var include_tags = include_tag_elems.map(e => e.id.substring('include-'.length));

          var exclude_tag_elems = Array.from(document.getElementsByClassName("exclude_tags"));
          exclude_tag_elems = exclude_tag_elems.filter(e => e.checked)
          var exclude_tags = exclude_tag_elems.map(e => e.id.substring('exclude-'.length));

          var selectedIndex = algorithms.map(function(nameAndTags) {
            var tags = nameAndTags.slice(1);
            var toSelect = include_tags.every(e => tags.includes(e)) && 
                            exclude_tags.every(e => !tags.includes(e));
            return toSelect;
          });
          updateChart(algorithms.filter(function(v, i) { return selectedIndex[i]; }),
                     results.filter(function(v, i) { return selectedIndex[i]; }));
        }
       <% end %>

      <table class="table">
        <thead>
        <th></th><th>include</th><th>exclude</th>
        </thead>
        <tbody>
          <% all_tags.each do |t, v| %>
          <tr><td><%= t %></td>
          <td><input id="<%= 'include-' + t %>" onclick="uncheck('<%= 'exclude-' + t %>');filter();"" type="checkbox" class="include_tags" value="<%= t %>" </td>
          <td><input id="<%= 'exclude-' + t %>" onclick="uncheck('<%= 'include-' + t %>');filter();" type="checkbox" class="exclude_tags" value="<%= t %>"</td></tr>
         <% end %>
        </tbody>
      </table>
  
      <!-- <button onclick="filter();"  class="btn btn-info" style="width:100%">Apply filter</button> -->

    </div>
    <div class="col-xs-12 col-lg-8">   
      <canvas id="myChart" width="800" height="<%= [600, 50 + 50 * @run.data["algorithms"].length].min %>"></canvas>
      <%= javascript_tag do %>  
          Chart.defaults.global.defaultFontSize = 18;
         Chart.defaults.global.defaultFontColor = 'black';
        var myChart = drawChart('myChart', algorithms, results, testCases, 
              "<%= @run.title %>", "<%=@run.data["unit"]%>", colorGetter);  
         
        function updateChart(algorithms, results) {
          myChart.data = getDataOption(algorithms, results, testCases, colorGetter);
          myChart.update();
        }       
      <% end %>

    </div>
  </div>


  </div>