<% hierarchy = { }
    @runs.each do |run|   
    if hierarchy[run.category]
        if hierarchy[run.category][run.sub_category] 
            hierarchy[run.category][run.sub_category].push run
        else
            hierarchy[run.category][run.sub_category] = [run]
        end
    else 
        hierarchy[run.category] = {run.sub_category => [run] }
    end
end %>

<%= javascript_tag do %> 
    $(document).ready(function() {
       // $('#container').fadeOut(0);
       // $('#container').fadeIn();
    });
    
<% end %>

<div id="container" style="visibility:visible" class="container-fluid" style="width:100%">
    <div class="row" style="background-color:#E5E8E8;">
        <div class="col-xs-12"> 
            <a style="text-decoration:none" href="<%= runs_path %>"><h1>Algorithm Benchmarks</h1></a>
        </div>
    </div>
    <% hierarchy.each do |category, v| %>
        <div class="row" style="padding:20px 0; border-bottom:solid 1px ;">
            <div class="col-xs-12">
                <h2 style="color:#626567;"><%= category %></h2>
            </div>  
        </div>
        <div class="row">
         
            <%= javascript_tag do %> 
                var randomColorSet = getRandomColorSet();
                var colorGenerator = getColorGenerator(randomColorSet);
                setCookie('r', randomColorSet[0], 1);
                setCookie('g', randomColorSet[1], 1);
                setCookie('b', randomColorSet[2], 1);
                setCookie('shadePart', randomColorSet[3], 1);
            <% end %>

            <% num_cols = 4
                vw_size = 80 / num_cols 
                bootstrap_arg = 12 / num_cols %>
            <% v.each do |sub_category, run_array| %>
                <% run_array.sort_by { |x| x.order }.each_with_index do |run, i| %>
                    <div class="col-xs-<%= bootstrap_arg %>">
                        <div style="width:<%= vw_size %>vw;" onclick="location.assign('/runs/<%= run.id %>')">
                            <canvas id="<%= run.id %>" width="300" height="300"></canvas>
                            <%= javascript_tag do %>  
                                Chart.defaults.global.defaultFontSize = 10;                            
                                //Chart.options. = false;
                                var myChart = drawChart("<%= run.id %>", 
                                    JSON.parse('<%= run.data["algorithms"].to_json.html_safe %>'), 
                                    JSON.parse('<%= run.data["results"].to_json.html_safe %>'),  
                                    JSON.parse('<%= run.data["test_cases"].to_json.html_safe %>'), 
                                    "<%= run.title %>", "<%= run.data["unit"] %>", colorGenerator, 2000);  
                                myChart.options.legend.labels.fontSize = 10;
                                myChart.options.legend.labels.boxWidth = 20;
                                myChart.options.title.fontSize = 15;
                                //myChart.resize(300, 300);
                                    
                            <% end %>
                        </div>
                    </div>
                <% end %> 
            <% end %>
        
        </div> 
    <% end %>
</div>